@page
@{
    ViewData["Title"] = "EstudianteNoEncontrado";
}

<h1 style="color:red">El estudiante que esta intentando consultar no existe</h1>


<a class="btn btn-primary" asp-page="./RegistroEstudiantes">Ir al listado de Estudiantes</a>

