@page
@{
    ViewData["Title"] = "Materia no encontrada";
}

<h1 style="color:red">La materia que esta intentando consultar no existe</h1>

<a class="btn btn-primary" asp-page="./RegistroMaterias">Ir a Listado de Materias</a>